<br/>
<div class="row">
  <div class="col-3">
    <div class="card bg-navy custom-card">
      <div class="card-body text-white">
        <p class="card-text">
          <br/>
          <span class="pull-right">
            <a [routerLink]="['/form']" routerLinkActive="active">
              <span class="text-white"> Template Driven Form </span></a> &nbsp;&nbsp;
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card bg-blue custom-card">
      <div class="card-body text-white">
        <br/>
        <span class="pull-right">
                <a [routerLink]="['/reactiveForm']" routerLinkActive="active">

                  <span class="text-white">Reactive Form &nbsp;&nbsp;</span></a>
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </span>
      </div>

    </div>
  </div>
  <div class="col-3">
    <div class="card bg-pink custom-card">
      <div class="card-body text-white">
        <br/>
        <span class="pull-right">
         <span class="tex-white">Speaking</span>  &nbsp;&nbsp;
          <i class="fa fa-arrow-right custom-fa" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card bg-pinkish custom-card">
      <div class="card-body text-white">
        <br/>
        <span class="pull-right text-white">
          Writing &nbsp;&nbsp;
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
</div>
